{% extends "base.html" %}

{% block title %}Информация об аренде автомобилей{% endblock %}

{% block content %}
<br><br><br>

<img src="{{ url_for('static', filename='images/Ленд-Авто.jpg') }}" alt="Аренда автомобилей" style="width: 600px; height: auto;">

<h3>Основные сведения об аренде автомобилей</h3>
<table>
    <tr>
        <td>Название компании</td>
        <td>Ленд Авто"</td>
    </tr>
    <tr>
        <td>Дата основания компании</td>
        <td>01.01.2015</td>
    </tr>
    <tr>
        <td>Адрес офиса</td>
        <td>123456, г. Москва, ул. Автомобильная, 15</td>
    </tr>
    <tr>
        <td>Часы работы</td>
        <td>понедельник-воскресенье с 8:00 до 21:00</td>
    </tr>
    <tr>
        <td>Контактные телефоны</td>
        <td>+7(495) 111-22-33; +7(495) 444-55-66</td>
    </tr>
    <tr>
        <td>Электронная почта</td>
        <td>info@avtoarenda.ru</td>
    </tr>
</table>
{% endblock %}
